.homepage-header .homepage-mini-logo {
  font-size: 20px;
  font-family: "Alas", sans-serif !important;
  color: var(--header) !important;
  width: fit-content;
}

.homepage-header .toast-message {
  position: absolute;
  width: 100%;
  background-color: var(--success);
  color: var(--primary); 
  z-index: 100;
  left: 0;
  top: -85px;
  transition: calc(var(--base-transition-duration) * 3);
}

.homepage-header .toast-message.active {
  top: 0;
}

.homepage-header .navbar ul li {
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
  cursor: pointer;
  user-select: none;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  transition: var(--base-transition-duration);
}

.homepage-header .navbar ul li:hover, .homepage-header .navbar ul li.selected {
  border-bottom: 1px solid var(--border);
}

.homepage-header .profile-corner ul {
  background-color: var(--primary);
  top: 40px;
}

.homepage-header .profile-corner ul li {
  transition: var(--base-transition-duration);
}

.homepage-header .profile-corner ul li:hover {
  background-color: var(--text);
  color: var(--primary);
}

.profile-corner .profile-dropdown {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}