.indicator-button {
  background-color: var(--component-background);
}

.indicator-button.indicator-button-clickable {
  background-color: var(--button) !important;
  color: var(--button);
}

.indicator-button.indicator-button-clickable .indicator-button-clickable-icon {
  width: 35px;
  height: 35px;
  background-color: var(--component-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.indicator-button span {
  color: var(--text);
}

.indicator-button .income, .indicator-button .expenses {
  color: var(--primary);
}

.indicator-button .income svg, .indicator-button .expenses svg {
  width: 25px;
  height: 25px;
}

.indicator-button .income {
  background-color: var(--success);
}

.indicator-button .expenses {
  background-color: var(--danger);
}