.homepage-main .cards-container {
  max-height: calc(190px * 3 + 2rem * 3);
  overflow-y: auto;
  scrollbar-width: thin;
}

.homepage-main .main-content-container {
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  scrollbar-width: thin;
}

.homepage-main .cards-container::-webkit-scrollbar {
  display: none;
}