.indicator-button {
  background-color: var(--component-background);
}

.indicator-button span {
  color: var(--text);
  font-size: 20px;
}

.indicator-button .income, .indicator-button .expenses {
  color: var(--primary);
}

.indicator-button .income svg, .indicator-button .expenses svg {
  width: 25px;
  height: 25px;
}

.indicator-button .income {
  background-color: var(--success);
}

.indicator-button .expenses {
  background-color: var(--danger);
}