.statistics {
  min-height: 400px;
}

.statistics .statistics-filter-button {
  background-color: var(--component-background);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: var(--base-transition-duration);
  color: rgba(0, 0, 0, 0.3);
}

.statistics .statistics-filter-button.selected {
  color: var(--text);
  border: 1px solid var(--border);
}

.statistics .date-range-container,
.statistics .expenses-container {
  background-color: var(--component-background);
}

.table-container {
  overflow-x: auto;
}