/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.prompt-box .input input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  height: 57px;
  text-overflow: ellipsis;
}

.prompt-box .input select {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  height: 57px;
  font-size: 16px;
}

.prompt-box .input textarea {
  border: 0;
  outline: 0;
  margin-top: 14px;
  width: 100%;
  min-height: 114px;
  resize: none;
  font-size: 16px;
  font-weight: 500;
}