.homepage-main-search-container .homepage-main-search {
  width: 100%;
  height: 55px;
  border: 0;
  border-radius: var(--base-border-radius);
  outline: 0;
  font-size: 18px;
  background-color: var(--component-background);
}

.homepage-main-search-container .homepage-main-search::placeholder {
  color: var(--placeholder);
}

.homepage-main-search-container .search-icon {
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.7);
}

.homepage-main-search-container .search-icon:hover {
  border: 1px solid var(--border);
  border-radius: var(--base-border-radius);
}

.homepage-main-search-container ~ .sort-button svg {
  width: 24px;
  height: 24px;
}