.piggy-bank-button, .piggy-bank-add-icon {
  background-color: var(--piggy);
}

.piggy-bank-icon, .piggy-bank-add-icon {
  width: 35px;
  height: 35px;
  background-color: var(--component-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.piggy-bank-add-icon {
  color: var(--dark-piggy);
}

.piggy-progress-bar-background {
  background-color: var(--component-background);
}

.piggy-progress-bar-progress {
  background-color: var(--dark-piggy);
}