/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above is CSS reset */
/* <-----------------------------------------------------------------------------------------------------------> */

* {
	font-family: "Space Grotesk", sans-serif !important;
}

:root {
	--primary: #FFF;
	--component-background: #F9F9F9;
	--secondary: #FFFFFFCC;
	--button: #B9E2E6;
	--header: #000000;
	--placeholder: #474747;
	--danger: #EE3F19;
	--success: #21C206;
	--text: #373737;
	--border: #333333;
	--page-background: #ECEDED;
	--base-border-radius: 10px;
	--base-transition-duration: 0.1s;
}

.prompt {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.prompt .prompt-box {
  background-color: var(--primary);
}

.action-button {
  max-width: 100px;
  width: 100%;
	height: 51px;
	border-radius: var(--base-border-radius);
}

.action-button.negative {
	transition: var(--base-transition-duration);
	border: 1px solid transparent;
	outline: 0;
	background-color: transparent;
}

.action-button.negative:hover {
	border: 1px solid var(--border);
}

.action-button.positive {
	border: 0;
	outline: 0;
	background-color: var(--button);
}

.action-button.positive:disabled {
	opacity: 70%;
}